* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

body {
  position: relative;
}

header {
  z-index: 100;
}

.navi {
  background-color: #EEEEEE;
  height: 7vh;
  transition: height 1s ease-in-out;
}
.navi img {
  object-fit: contain;
}
.navi__logo {
  height: 5vh;
}
.navi__dropdown {
  height: 4.5vh;
  transition: all 1s;
}
.navi__user {
  height: 4vh;
  cursor: pointer;
}
.navi__cart {
  height: 4vh;
  cursor: pointer;
}
.navi__count {
  width: 1.6em;
  height: 1.6em;
  bottom: 50%;
  left: 60%;
  font-size: 1rem;
  background-color: #F45050;
  color: white;
  border-radius: 100%;
  transform: scale(0);
  transition: all 0.3s;
}
.navi__account {
  display: none;
  list-style-type: none;
  transition: all 0.7s;
}
.navi__account__item {
  width: 30vw;
  font-weight: bolder;
  text-decoration: none;
  color: #EEEEEE;
  background-color: black;
  cursor: pointer;
}
.navi__bar {
  display: none;
  list-style-type: none;
  transition: all 0.7s;
}
.navi__bar__link {
  width: 30vw;
  font-weight: bolder;
  text-decoration: none;
  color: #EEEEEE;
  background-color: black;
}
.navi__bar__link:active {
  color: #EEEEEE;
  opacity: 0.75;
}

footer {
  background-color: #EEEEEE;
  font-family: "Playfair", serif;
}
footer h3 {
  font-size: 1.1rem;
  font-weight: bolder;
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer ul a {
  color: black;
  text-decoration: none;
  font-size: 0.8rem;
}

.home__presentation {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../media/img/home/llama-presentation.jpg");
  background-position: center;
  background-size: cover;
}
.home__presentation__title {
  font-family: "Playfair", serif;
  font-size: 4rem;
  color: white;
}
.home__form {
  z-index: 99;
  background-color: #EEEEEE;
  width: 70vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  box-shadow: 0 0 1em 0.01em rgba(0, 0, 0, 0.7);
  transition: 0.4s ease-out;
}
.home__form legend {
  font-weight: 800;
}
.home__form__inputBox {
  position: relative;
  width: 100%;
  border-bottom: 2px solid black;
}
.home__form__inputBox .labelText {
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  bottom: 10%;
  pointer-events: none;
  transition: all 0.7s ease;
}
.home__form__inputBox .inputText {
  background-color: #EEEEEE;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
}
.home__form__inputBox .inputText:valid ~ .labelText, .home__form__inputBox .inputText:focus ~ .labelText {
  bottom: 100%;
  transform: scale(0.8) translateX(-0.5em);
}
.home__form__text {
  text-decoration: none;
  color: #9BA4B5;
  font-size: 0.8rem;
}
.home__form__change {
  text-decoration: underline;
  cursor: pointer;
}
.home__form__button {
  width: 100%;
  border: none;
  outline: none;
  font-weight: 700;
  background-color: #9BA4B5;
  color: #EEEEEE;
}
.home__form__icon-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 2rem;
  width: 2rem;
  background: black;
  font-size: 1.5em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.home__products a {
  text-decoration: none;
}
.home__products .product {
  height: 20vh;
}
.home__products .product__title {
  color: white;
  font-weight: 800;
  border-bottom: 0.2em solid white;
}
.home__products .shoes {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0.8) 100%), url("../media/img/home/shoes.jpg");
  background-position: center;
  background-size: cover;
}
.home__products .sport {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0.8) 100%), url("../media/img/home/sport.jpg");
  background-position: center bottom;
  background-size: cover;
}
.home__products .casual {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0.8) 100%), url("../media/img/home/casual.jpg");
  background-position: center 40%;
  background-size: cover;
}

.store__presentation {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../media/img/store/clothes.jpg");
  background-position: center;
  background-size: cover;
}
.store__presentation__title {
  font-family: "Playfair", serif;
  font-size: 4rem;
  color: white;
}
.store__options__list {
  list-style-type: none;
}
.store__options__item {
  outline: none;
  background-color: #EA2C62;
  color: white;
}
.store__options__item-pressed {
  background-color: #a92e51;
}
.store__products__product {
  height: 60vh;
  width: 45vw;
}
.store__products__product__image {
  width: 100%;
  object-fit: cover;
}
.store__products__product__content {
  width: 100%;
}
.store__products__product__price {
  font-family: "Archivo", sans-serif;
  font-weight: 800;
  color: black;
  background-color: #EEEEEE;
  border: 3px solid white;
  bottom: 5%;
  left: 5%;
}
.store__products__product__like {
  transform: scale(1.4);
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.store__products__product__title {
  font-size: 1rem;
  font-weight: 800;
}
.store__products__product__description {
  font-size: 0.9rem;
}
.store__products__product__button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: black;
  color: #F7F1E5;
}

.cart {
  background-color: #F1F6F9;
}
.cart__products__message {
  font-size: 2rem;
}
.cart__products__product {
  height: 17vh;
  width: 100%;
}
.cart__products__product__image {
  height: 100%;
  width: 30%;
  object-fit: contain;
  object-position: center;
  box-shadow: 0.01em 0 0.1em 0 rgba(0, 0, 0, 0.1), 0 0 2em 0 rgba(0, 0, 0, 0.1);
}
.cart__products__product__content {
  height: 100%;
  width: 50%;
}
.cart__products__product__content__title {
  font-size: 0.9rem;
}
.cart__products__product__content__text {
  font-size: 0.7rem;
}
.cart__products__product__content__price {
  font-family: "Anton", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.05em;
}
.cart__products__product__options__button {
  background-color: black;
  color: white;
  outline: none;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  border: none;
  outline: none;
  box-shadow: 0 0.3em 0.3em 0 rgba(0, 0, 0, 0.1);
  font-size: 1.1rem;
  font-family: sans-serif;
}
.cart__products__product__options__button--white {
  background-color: white;
  color: black;
  border: 2px solid black;
}
.cart__products__product__options__text {
  font-family: "Anton", sans-serif;
  font-size: 1.3rem;
}
.cart__products__product__remove {
  top: 0;
  right: 0;
  font-size: 1.5rem;
  cursor: pointer;
}

.rotate {
  transform: rotate(0.25turn);
}

.appear {
  display: flex;
}

.expand {
  height: 100vh !important;
}

.popup {
  transform: translate(-50%, -50%) scale(1);
}

.sub-menu {
  height: 17vh;
}

.disabled {
  pointer-events: none;
}

.pop {
  transform: scale(1);
}

.full-screen {
  min-height: 100vh;
}

/*# sourceMappingURL=styles.css.map */
