$colors: (primary: #EEEEEE, secondary: black, tertiary: #9BA4B5);

$validation: (valid: lightgreen, invalid: lightcoral, warning: lightyellow);

$price: (price: lightcoral, background-price: #82C3EC);

