@use '../util' as *;

.navi{
    background-color: map-get($colors, primary);
    height: 4.5rem;
    transition: height 1s ease-in-out;
    img{
        object-fit: contain;
    }

    &__logo{
        height: 4vh;
        
    }

    &__dropdown{
        height: 3.5vh;
        
        transition: all 1s;

        
    }

    &__user{
        height: 3vh;
        cursor: pointer;
    }

    &__cart{
        height: 3vh;
        cursor: pointer;
    }

    &__count{
        width: 1.4em;
        height: 1.4em;
        bottom: 50%;
        left: 60%;
        font-size: 1rem;
        background-color: #F45050;
        color: white;
        border-radius: 100%;

        transform: scale(0);
        transition: all .3s;
    }

    

    &__account{
        display: none;
        list-style-type: none;
        &__item{
            width: 30vw;
            font-weight: bolder;
            text-decoration: none;
            color: map-get($colors, primary);
            background-color: black;

            cursor: pointer;
        }

        transition: all .7s;
    }

    &__bar{ 
        display: none;
        list-style-type: none;

        &__link{
            width: 30vw;
            font-weight: bolder;
            text-decoration: none;
            color: map-get($colors, primary);
            background-color: black;
            

            &:active{
                color: map-get($colors, primary);
                opacity: .75;
            }
        }
        
        transition: all .7s;
    }

    
}